
<p>
Hello, I am Marak.
</p>
<p>
I am on a mission to be awesome and make the world a better place.
</p>
<p>
I am unstoppable.
</p>

<p>
  Currently working on <a href="https://hook.io">hook.io</a>.
</p>
<!--
<p>
  <a href="/blog/">Blog</a>
</p>
-->

Do not <a href="https://twitter.com/marak" class="twitter-follow-button" data-show-count="false">Follow @marak</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

<iframe src="http://ghbtns.com/github-btn.html?user=marak&type=follow"
  allowtransparency="true" frameborder="0" scrolling="0" width="132px" height="20px"></iframe>
